<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="routing" type="langsamu.Web.Routing.Configuration.RoutingSection" /></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UniversityDBEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UniversityDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<!--<routing routeExistingFiles="false">
    --><!-- 
        1. Intellisense

          To add intellisense support for the Web.config file,
          
            1.1. while editing the Web.config file, open the properties window (F4).
            1.2. Click the the text-box called "Schemas",
            1.3. then click the browse window in the text-box.
            1.4. In the browse window, search for the entry with file name "RoutingConfiguration.xsd".
            1.5. In the "Use" column for this entry, choose "Use this schema".

          If the routing configuration schema file is not found in the schema browse window,
          follow steps 2.1 - 2.3 above, then

            1.4. Click "Add".
            1.5. Navigate to ~/bin and choose "RoutingConfiguration.xsd".
            1.6. Click "OK".
    --><!--
    <routes>
      <add type="Ignore" url="{resource}.axd/{*pathInfo}" />
      
      <add type="PhysicalFile" name="[put the name of the route here]" url="[put the url pattern here]" physicalFile="~/[put the physical file here]" />
      <add type="IRouteHandler" name="[put the name of the route here]" url="[put the url pattern here]" handler="[put the IRouteHandler class name here]" />
    </routes>
  </routing>--><system.webServer>
    <handlers>
      <!-- Used to disable direct access to routed pages -->
      <add name="HidePages" path="App_Pages/*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" />
    </handlers>

    <!-- Required to enable routing on non-ASP.NET extension (or extensionless requests) -->
    <modules runAllManagedModulesForAllRequests="true">

      <!-- Registers the routes -->
      <add name="RouteManager" type="langsamu.Web.Routing.RoutingModule" />
    </modules>

  </system.webServer></configuration>